*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #1c1c1e;
  padding: 20px;
  padding-left: 70px;
  margin-top: 10px;
  background-color: #e3e6f3;
  background-size: cover;
  margin-top: -5px;
}

.logo .icon {
  font-size: 2.4rem;
}

.logo .highlight {
  color: black; 
  font-weight: 700;
}


#listitems{
    display: flex;
    align-items: end;
    gap: 40px;
    justify-content: end;
    padding-right: 150px;
    margin-top: -45px;

    
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}