*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: #1c1c1e;
}

.logo .icon {
  font-size: 2.4rem;
}

.logo .highlight {
  color: #ff6b6b; /* Coral Red */
  font-weight: 700;
}

