*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #1a1a1a;
}

.logo .icon {
  font-size: 2.2rem;
}

.logo .text {
  letter-spacing: 1px;
}

.logo .highlight {
  color: #0070f3; /* Bright blue or use #ff4d4f for red */
}
